# Limpieza de datos

### Librerías

In [293]:
"""Importar las librerias"""
import pandas as pd
import numpy as np
import json
from pandas import json_normalize

## Carga y Lectura del Dataset

In [294]:
"""Cargar el dataset"""
df=pd.read_csv("data_act_01.csv", sep=';')
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

Interpretación:  Analizando brevemente los datos que tenemos en el dataset observamos ciertas inconsistencias. De manera aque el dataset está sucio porque en la mayoría de sus campos (columnas), exiten datos de tipo string y numericos, existen muchos campos con asteriscos o simbolos que no van de acuerdo con la información. También existen filas que tienen campos nulos y sin sentido mucho. Por lo cuál se procede a realizar varios procesos de limpieza para mejorar la apariencia e integridad del Dataset.

### Descripción del Dataset

In [295]:
"""Desplegar la descripción del conjunto de datos"""
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

Interpretación: Con el comando info() se obtiene un análisis más específico de cada columna y sus valores. Es así que se logra apreciar el tipo de datos que tienen cada columna, y como es vidente muchas de ellas no son netamente de un solo tipo. Desde aquí se puede saber a las columnas con las cuáles se deberá trabajar.

## Métodos de limpieza de los datos

#### 1) Eliminar la columna "Range" con campos vacios

In [296]:
"""Eliminamos la columna Range"""
to_drop = ['Range']
df.drop(to_drop, inplace=True, axis=1)

In [297]:
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection

Interpretación: Se observa como la columna "Range" a sido elimina, esto se debe a que no exitia ningún valor. Lo que nos indica que esta columna era super irrelevante para el procesamiento de datos, debidi a esto se procedió a eliminarla. Ahora nuestro dataset cuenta con 11 columnas para seguir analizándolas ya que aún existen muchos datos sucios en las demás columnas.

### Valores Duplicados

In [250]:
"""Visualizar los Id duplicados de la columna (CrimeId)"""
delete_duplicados= df[df.duplicated(subset = ['CrimeId'], keep = False)]

"""Mostrar la función"""
delete_duplicados

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,Premise Address

In [251]:
"""Eliminar datos duplicados"""
df = df.drop_duplicates()

In [252]:
"""Verificación de la eliminación de los Id duplicados"""
delete_duplicados.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address

Interpretación: Existe una columna llamada "CrimeId" la cual contiene a los Id de todos los casos criminales que existen en dichas ciudades. Pero aqui se observa un error y es que exiten dos Id que se repiten 3 veces cada uno. Evidentemente, esto esta mal ya que cada caso policial tiene un Id único, por ende, se los eliminó todos los Id de crimenes duplicados por medio del comando "drop_duplicates", dejando de esta manera la columna "CrimeId" limpia y sin Id de crímenes duplicados. Podemos decir entonces que se ha realizando un paso más de limpieza de datos.

### Valores Nulos

In [253]:
"""Identificación de valores nulos"""
df.isnull().sum()

CrimeId                    0
OriginalCrimeTypeName      0
OffenseDate                0
CallTime                   0
CallDateTime               0
Disposition                0
Address                    0
City                     321
State                      3
AgencyId                   0
AddressType                0
dtype: int64

Interpretación: Visualizamos que dentro de todas nuestras columnas existen solamente dos que tienen datos o campos con valores nulos. Estas son, "City" con 321 valores nulos y "State" con 3 valores nulos. Es así que con dicho análisis hemos encontrado donde tenemos el problema, por lo tanto, se procede a ejecutar la función que permita cambiar estos valores.

In [254]:
"""Método 'ffill' para reemplazar los valores nulos de las filas City State"""
df["City"].fillna( method ='ffill', inplace = True) 
df["State"].fillna( method ='ffill', inplace = True)

In [255]:
"""Visualizar nuevamente los valores nulos del Dataset"""
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

Interpretación: En el anterior segmento, el método que se establece es ffill y, por lo tanto, el valor en la misma columna reemplaza el valor nulo. En este caso, el estado de vacíos reemplazó el valor nulo en la columna de la "State" y "City"  de las 321 y 3 filas para cada columna.De manera similar, que al visualizar nuevamente los valores nulos, se evidencia que todas las columnas tienen (0) valores nulos. Podemos decir entonces, que el dataset ha sido limpiado de los valores nulos existentes y ha pasado a ser un dataset con valores completos y sin ningún faltante.

#### 4) Limpieza y reemplazo de valores en la columna 'OriginalCrimeTypeName'

In [256]:
"""Mostrar los datos de la columna ('OriginalCrimeTypeName')"""

limpieza1 = df['CrimeId'].groupby(df['OriginalCrimeTypeName']) 

"""Visualizar los datos junto a la media"""
print(limpieza1.mean())

OriginalCrimeTypeName
***901 Req***    1.609610e+08
**Tazer**        1.609413e+08
*909*            1.609331e+08
.25/500e         1.609436e+08
.52              1.609640e+08
                     ...
Wz               1.609389e+08
X                1.609404e+08
X 594            1.609213e+08
Yelling          1.609306e+08
`Drugs           1.609530e+08
Name: CrimeId, Length: 575, dtype: float64

Interpretación: Se observan muchos datos sucios dentro de la columna 'OriginalCrimeTypeName'. Por ejemplo se tienen valores que están dentro de asteriscos (***), tambien valores con caracteres (./´) o incluso valores alfanuméricos (X 594). Debido a esto se entiende que esta columna necesita que dichos valores sean reemplazados, por valores reales ó que vayan de acuerdo a la información que se tiene.

In [257]:
"""Reemplazo de valores sucios, por valores reales y acordes a la información del Dataset"""

df = pd.DataFrame(df,columns=['OriginalCrimeTypeName','CrimeId'])

df['OriginalCrimeTypeName']= df['OriginalCrimeTypeName'].replace(['***901 Req***', '**Tazer**', '*909*', '.25/500e', '.52', 'Wz', 'X',
                                                                  'X 594', '594', '`Drugs'],
                                                                 
                      ['Asalto', 'Tazer', 'Crimen tipo2', 'Crimen tipo1', 'Crimen tipo3', 'Asesinato', 'Secuestro',
                      'Robo', 'Accidente Tránsito',  'Drogas'])

In [258]:
"""Mostrar los valores que fueron reemplazados"""
df.loc[[9292, 5304, 6591, 9988, 2926, 3057, 825, 8410], :]

     OriginalCrimeTypeName    CrimeId
9292                Asalto  160960992
5304                 Tazer  160941301
6591          Crimen tipo1  160943538
9988          Crimen tipo3  160963959
2926             Asesinato  160931083
3057             Secuestro  160931334
825                   Robo  160921285
8410                Drogas  160953006

Interpretación: Ahora, una vez ejecuta la función replace() y haber colocado los valores que se deseaban cambiar, podemos ver los resultados exitosos. Ya que, El método replace() busca en una cadena específica el valor que uno mismo define. Cuándo el método es ejecutado devuelve una nueva cadena de datos con los valores ya modificados. Aclarando, no se cambia la columna original, solo se reemplazan los valores por unos que son óptimos y de acuerdo a la información de la columna. Con (.loc) se visualiza de manera específica los valores modificados de la columna "OriginalCrimeTypeName".

#### 5) Limpieza y reemplazo de valores en la columna 'Disposition'

In [270]:
"""Mostrar los datos de la columna ('Disposition')""" 

limpieza2 = df['CrimeId'].groupby(df['Disposition']) 

"""Visualizar los datos junto a la media"""
print(limpieza2.mean())

Disposition
22              1.609427e+08
ABA             1.609392e+08
ADM             1.609364e+08
ADV             1.609394e+08
ARR             1.609352e+08
CAN             1.609389e+08
CIT             1.609410e+08
CRT             1.609514e+08
GOA             1.609386e+08
HAN             1.609395e+08
INC             1.609409e+08
NCR             1.609399e+08
ND              1.609377e+08
NOM             1.609401e+08
Not recorded    1.609391e+08
PAS             1.609373e+08
REP             1.609389e+08
SFD             1.609539e+08
UTL             1.609391e+08
Name: CrimeId, dtype: float64

Interpretación: Para la columna Disposition, se observan pocos valores sucios, o que no van de acuerdo a la información de la columan. En este caso podemos visualizar que existe un valor numérico "22" que a diferencia del resto no indica nada. Ya que todos los demás valores están escritos en siglas. Es por esto que se va a reemplar dicho valor para obtener una columna con información más específica y clara.

In [271]:
"""Reemplazo de valores sucios, por valores reales y acordes a la información del Dataset"""

df = pd.DataFrame(df,columns=['Disposition','CrimeId'])

df['Disposition']= df['Disposition'].replace(['22'], ['TNT'])

In [272]:
print("Valores de la columna Disposition") 
print(df['Disposition'])

Valores de la columna Disposition
0                 REP
1                 GOA
2                 GOA
3                 GOA
4                 REP
             ...
10046             GOA
10047             ADV
10048             CIT
10049    Not recorded
10050             ADV
Name: Disposition, Length: 10051, dtype: object

Interpretación: Ahora podemos ver que el valor numérico de "22" fue reemplazo por las siglas "TNT". De esta manera podemos determinar que el proceso de reemplazo se ejecuto con éxito. De esta manera, la columna de "Disposition" ha quedado limpia de valores sucios o que están descoodinados con relación a los demas valores de dicha columna de datos.

#### 6) Limpieza y reemplazo de valores en la columna 'City'

In [278]:
"""Mostrar los datos de la columna (City)""" 

limpieza3 = df['CrimeId'].groupby(df['City']) 
  
"""Visualizar los datos junto a la media"""
print(limpieza3.mean())

City
 S               1.609523e+08
Brisbane         1.609614e+08
Daly City        1.609359e+08
Presidio         1.609561e+08
SAN FRANCISCO    1.609319e+08
San Francisco    1.609394e+08
Treasure Isla    1.609364e+08
Yerba Buena      1.609364e+08
Name: CrimeId, dtype: float64

Interpretación: En este caso vemos dos tipos de errores en los valores pertenecientes a la columna de (City). El primero de ellos es que en los nombres de las ciudades hay unas que están escritas en mayúsculas y otras en minúsculas. También otro error que es muy notable es el de que existe según un nombre de (S) para una ciudad, si visualizamos en un mapa ese nombre evidentemente este no exite. Dicho esto, esos valores van a ser reemplazados para luego limpiar la columna de las Ciudades.

In [281]:
"""Convertir a minúsculas"""
df['City'] = df['City'].str.lower()

In [291]:
"""Reemplazo de valores sucios, por valores reales y acordes a la información del Dataset"""

df = pd.DataFrame(df,columns=['City','CrimeId'])

df['City']= df['City'].replace(['S'], ['Londres'])

In [292]:
print("Valores de la columna City") 
print(df['City'])

Valores de la columna City
0        San Francisco
1        San Francisco
2        San Francisco
3        San Francisco
4        San Francisco
             ...
10046    San Francisco
10047    San Francisco
10048    San Francisco
10049    San Francisco
10050    San Francisco
Name: City, Length: 10051, dtype: object

Interpretación: Para la columna que muestra las Ciudades (City) se han hechos los cambios de manera exitosa. Primero se transformo de mayúsculas a minúsculas por medio del método .str.lower(). Este método convierte las cadenas de string en minúsculas, po lo que ahora todos los nombres de las ciudades se encuentran en minúsculas. Por otro lado también se reemplazo a el valor de "S" por el nombre de la ciudad de "Londres". Ahora podemos decir que esta fila se encuentra también limpia y sin valores incoherentes o nulos.

#### 7) Limpieza y reemplazo de valores en la columna 'AddressType'

In [280]:
limpieza4 = df['CrimeId'].groupby(df['AddressType']) 
  
print(limpieza4.mean())

AddressType
1                  1.609492e+08
Common Location    1.609389e+08
Geo-Override       1.609397e+08
Intersection       1.609397e+08
Intersectioon      1.609326e+08
Premise Address    1.609392e+08
Name: CrimeId, dtype: float64

Los errores encontrados en esta columna no son muchos. Pero si se encuentran valores numéricos, que no tienen nada que ver con los datos de dicho grupo. Entonces al igual que en los pasos anteriores se procede a realizar el cambio de valores con la función replace(). De este modo se sustituye el (1) por la un tipo de dirección (Common Location).

In [284]:
"""Reemplazo de valores sucios, por valores reales y acordes a la información del Dataset"""

df = pd.DataFrame(df,columns=['AddressType','CrimeId'])

df['AddressType']= df['AddressType'].replace(['1'], ['Common Location'])

In [285]:
print("Valores de la columna AddressType") 
print(df['AddressType'])

Valores de la columna AddressType
0        Premise Address
1        Premise Address
2        Premise Address
3        Premise Address
4           Intersection
              ...
10046       Intersection
10047       Intersection
10048       Intersection
10049       Geo-Override
10050       Intersection
Name: AddressType, Length: 10051, dtype: object

# Convertir el dataset csv a JSON

Los archivos CSV (o valores separados por comas) representan datos en un formato tabular, con varias filas y columnas. Un ejemplo de un archivo CSV puede ser una hoja de cálculo de Excel. Estos archivos tienen la extensión de .csv

Por otro lado, JSON (o JavaScript Object Notation) es una notación similar a un diccionario que se puede usar importando el paquete JSON en Python. Cada registro (o fila) se guarda como un diccionario separado, con los nombres de las columnas como claves del diccionario.

In [298]:
"""Leer el archivo como csv"""
df = pd.read_csv (r'data_act_01.csv')

"""Cambiar el archivo al formato JSON"""
df.to_json (r'data_act_01.json')

Trabajar con grandes conjuntos de datos puede deteriorarse, principalmente cuando son demasiado grandes para caber en la memoria. En casos como este, la biblioteca de Pandas puede ser una forma eficiente de explorar y analizar los datos. Además, podemos convertir a JSON y a casi cualquier tipo de datos estándar a cualquier otro tipo de datos utilizando la biblioteca pandas.